.about {
    margin-top: 30px;
    padding: 4% 11%;
    background-color: #e5e5e5;

}

.about__container {
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: "a1 a1 a1 a2"
    
  }

  .about-item {
    position: relative;
    min-height: calc(52vh - 12px);
    letter-spacing: 0.05em;
    font-size: 18px;

  }
  
  .about-item:nth-of-type(1) {
    grid-area: a1
  }
  .about-item:nth-of-type(2) {
    grid-area: a2
  }

  .about-item__image {
    margin-top: 40px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 100%;
    background-size: contain;
  }
  