* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-gray;
  letter-spacing: 0.1em;
  overflow-y: scroll;
}

h1 {
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  font-family: $font-header;
  line-height: 1.2em;
  color: $color-main;
}

h3 {
  color: $color-gray;
}

a {
  text-decoration: none;
  color: $color-light;
}

.btn {
  min-width: 250px;
  display: block;
  padding: 18px 20px;
  height: 60px;
  border: 2px solid $color-light;
  text-align: center;
  font-size: 1.125rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: #d66926;
  }
}
