.footer {
    height: 250px;
    background-color: $color-main;
    margin-top: 45px;
    text-align: center;

    &__icons {
        display: flex;
       justify-content: center;
    }

    &__copy {
        padding: 25px;
    }
}

.fab {
    padding: 70px 10px 10px 10px;
    transition: 0.5s;

    &:hover {
        transition: 1s;
            color: $color-accent;
        }
}
