
.header-content {
    position: relative;
    &__container {
      @extend %container;
    }
  
  &__title {
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.08em;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
  }
  
  .header-content__buttons .btn:first-of-type {
    margin-right: 20px;
  }
  
  



}
  

@media (min-width: 992px) {
  .header-content__title {
    font-size: 3.75rem;
    margin: 0 0 53px;
  }
}

@media (max-width: 991px) {
  .header-content__title {
      margin: 0 0 43px;
  }
}
